@model ProductIndexViewModel

@{
    ViewData["Title"] = "編輯頁面";
}

<h1>編輯頁面</h1>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <button id="info-tab" class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#info-area"
                role="tab" aria-controls="info-area" aria-selected="true">
            基本資訊
        </button>
    </li>
    <li class="nav-item">
        <button id="content-tab" class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#content-area"
                role="tab" aria-controls="content-area" aria-selected="false">
            詳細內容
        </button>
    </li>
    <li class="nav-item">
        <button id="image-tab" class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#image-area"
                role="tab" aria-controls="image-area" aria-selected="false">
            圖片
        </button>
    </li>
</ul>
<p></p>
@* 基本資訊表單 *@
<form asp-action="Save">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="tab-content">
        <!-- 基本資訊區塊 -->
        <div id="info-area" class="tab-pane fade show active" role="tabpanel" aria-labelledby="info-tab">
            <div class="row">
                <div class="col-6">
                    @* 商品狀態 *@
                    <div class="mb-1">
                        <label class="control-label fw-bold">商品狀態</label>
                        <select class="form-select" asp-for="Status" asp-items="Model.Statuses"></select>
                    </div>
                </div>
                <div class="col-6">
                    @* 類別 *@
                    <div class="mb-1">
                        <label class="control-label">類別</label>
                        <select class="form-select" asp-for="CategoryId" asp-items="Model.Categories"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    @* 製造方式 *@
                    <label class="control-label fw-bold">製造方式</label>
                    <div class="mb-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="ManufacturingMethod" value="@ManufacturingMethod.Manual" />
                            <label class="form-check-label">
                                手工製造
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="ManufacturingMethod" value="@ManufacturingMethod.Machine" />
                            <label class="form-check-label">
                                機器製造
                            </label>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    @* 製作時間 *@
                    <label class="control-label fw-bold">製作時間</label>
                    <div class="mb-1">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="ManufacturingTime" value="@ManufacturingTime.InStock" />
                            <label class="form-check-label">
                                現貨
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" asp-for="ManufacturingTime" value="@ManufacturingTime.Custom" />
                            <label class="form-check-label">
                                接單訂製，付款後須等待
                            </label>
                            <input type="number" class="form-control" asp-for="ManufacturingCustomDate" min="0">
                            <label class="form-check-label">
                                工作天。
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @* 商品名稱 *@
                    <div class="mb-1">
                        <label asp-for="Name" class="control-label fw-bold">商品名稱</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @* 簡介 *@
                    <div class="mb-1">
                        <label asp-for="Description" class="control-label fw-bold">簡介</label>
                        <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                        <span asp-validation-for="Description" class="text-danger" id="editor01"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @* 促銷 *@
                    <div class="mb-1">
                        <label asp-for="Promotion" class="control-label fw-bold">促銷</label>
                        <textarea asp-for="Promotion" class="form-control" style="height:150px"></textarea>
                    </div>
                </div>
            </div>
            <br />
            <div class="row">
                <div class="col">
                    @* 款式 *@
                    <div class="mb-1">
                        <table id="prodectStyleTable" class="table table-bordered">
                            <tr>
                                <th scope="col">款式名稱</th>
                                <th scope="col">價錢</th>
                                <th scope="col">庫存</th>
                                <th></th>
                            </tr>
                            @for (int idx = 0; idx < Model.ProductStyles.Count; idx++)
                            {
                                <tr>
                                    @Html.Hidden($"ProductStyles[{idx}].Id", Model.ProductStyles[idx].Id)
                                    <td>
                                        <input type="text" name="ProductStyles[@idx].Name" value="@Model.ProductStyles[idx].Name" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" name="ProductStyles[@idx].Price" value="@Model.ProductStyles[idx].Price" class="form-control" />
                                    </td>
                                    <td>
                                        <input type="number" name="ProductStyles[@idx].Stock" value="@Model.ProductStyles[idx].Stock" class="form-control" />
                                    </td>
                                    <td>
                                        <i class="fas fa-times-circle" onclick="deleteRow(this)"></i>
                                    </td>
                                </tr>
                            }
                        </table>
                        <button type="button" class="btn btn-info" onclick="addRow()">增加款式</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 內容區塊 -->
        <div id="content-area" class="tab-pane fade" role="tabpanel" aria-labelledby="content-tab">
            @* 內容 *@
            <div class="mb-1">
                <textarea asp-for="Content" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
        <!-- 圖片區塊 -->
        <div id="image-area" class="tab-pane fade" role="tabpanel" aria-labelledby="image-tab">
            @* 圖片 *@
            <div id="picBlock" class="row">
                @if (Model.ProductImage != null && Model.ProductImage.Any())
                {
                    foreach (ProductImage image in Model.ProductImage)
                    {
                        <div class="product-image col-lg-3 col-md-6 col-sm-1 text-center">
                            <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid, tag = "M" }) height="142" alt="ring">
                            <i class="fas fa-times-circle" onclick="deletePicture(this, '@image.Guid')"></i>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    <hr />
    <div class="mb-1">
        <input id="formSubmitBtn" type="submit" value="存檔" class="btn btn-outline-primary" />
    </div>
</form>


@using (Html.BeginForm("UploadDetail", "Picture", FormMethod.Post, new { id = "picForm", enctype = "multipart/form-data" }))
{
    <div class="mb-1">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.ProductId)
        <input type="file" style="display: none;" id="files" name="files" accept="image/*" onchange="imgFormSubmit();" multiple />
        <input id="picUploadBtn" type="button" value="上傳圖片" class="btn btn-outline-success d-none" onclick="document.getElementById('files').click();" />
    </div>
}

<a asp-asp-controller="ProductManagement" asp-action="Index" class="btn btn-outline-secondary">返回上一頁</a>

@section Scripts {
    @{
        // 前端驗證
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        /**
         * 加入 CKEditor 使用
         */
        ClassicEditor
            .create(document.querySelector('#editor'), {
                removePlugins: ['ImageResize', 'ImageStyle', 'ImageToolbar'],
                ckfinder: {
                    uploadUrl: '/Picture/UploadContent?productId=' + '@Model.ProductId'
                }
            })
            .catch(error => {
                console.error(error);
            });

        /**
          * 增加 款式 選項
         */
        function addRow() {
            var table = document.getElementById("prodectStyleTable");
            var row = table.insertRow(-1);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            cell0.innerHTML = '<input type="text" name="ProductStyles[' + (table.rows.length - 2) + '].Name" class="form-control" />';
            cell1.innerHTML = '<input type="number" name="ProductStyles[' + (table.rows.length - 2) + '].Price" min="0" value="0" class="form-control" />';
            cell2.innerHTML = '<input type="number" name="ProductStyles[' + (table.rows.length - 2) + '].Stock" min="1" value="0" class="form-control" />';
            cell3.innerHTML = '<i class="fas fa-times-circle" onclick="deleteRow(this)"></i>';
        }

        /**
          * 刪除 款式 選項
         */
        function deleteRow(btn) {
            let count = $('#prodectStyleTable tr').length;
            if (count <= 2) {
                alert("款式最少要有一項。");
            }
            else {
                let row = btn.parentNode.parentNode;
                row.parentNode.removeChild(row);
            }
        }

        function imgFormSubmit() {
            let form = $('#picForm')[0];
            let formData = new FormData(form);
            $.ajax({
                url: form.action,
                type: form.method,
                data: formData,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    let responseData = response.data;
                    let fileLength = formData.getAll('files').length;

                    for (let i = 0; i < fileLength; i++) {
                        let file = formData.getAll('files')[i];
                        let fileName = file.name;
                        let responseGuid;
                        if (!responseData[fileName]) {
                            continue;
                        }
                        else {
                            responseGuid = responseData[fileName];
                        }

                        let productImage = document.createElement('div');
                        productImage.className = 'product-image';

                        let blob = new Blob([file], { type: file.type });
                        let imgUrl = URL.createObjectURL(blob);

                        let img = document.createElement('img');
                        img.src = imgUrl;
                        img.height = 142;
                        img.alt = 'ring';
                        productImage.appendChild(img);

                        let divI = $(`<i class='fas fa-times-circle' onclick='deletePicture(this, "${responseGuid}")'></i>`)
                        productImage.appendChild(divI[0]);

                        document.getElementById('picBlock').appendChild(productImage);

                    }
                }
            });
        }

        function deletePicture(e, guid) {
            $.ajax({
                url: '@Url.Action("Delete", "Picture")',
                type: "POST",
                data: { Guid: guid },
                success: function (response) {
                    // 將自身欄位 從畫面上移除
                    let $fileCol = $(e).parent('div');
                    $fileCol.remove();
                }
            });
        }

        $(document).ready(function () {
            $('button[data-bs-toggle="tab"]').on('shown.bs.tab', function (e) {
                // 圖片頁面，顯示上傳圖片按鈕
                if (e.currentTarget.id == 'image-tab') {
                    // 顯示按鈕
                    $('#picUploadBtn').removeClass('d-none');

                    // 隱藏按鈕
                    $('#formSubmitBtn').addClass('d-none');
                }
                else {
                    // 隱藏按鈕
                    $('#picUploadBtn').addClass('d-none');

                    // 顯示按鈕
                    $('#formSubmitBtn').removeClass('d-none');
                }
            });
        });

    </script>
}