@model ProductIndexViewModel

@{
    ViewData["Title"] = "編輯頁面";
}

<h1>@ViewData["Title"]</h1>

<h4>Product</h4>
<hr />

<form asp-action="Save">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    @* 商品狀態 *@
                    <div class="form-group">
                        <label class="control-label">商品狀態</label>
                        <select class="form-control" asp-for="Status" asp-items="Model.Statuses"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    @* 商品名稱 *@
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-4">
                    @* 類別 *@
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <select class="form-control" asp-for="CategoryId" asp-items="Model.Categories"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @* 簡介 *@
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea asp-for="Description" class="form-control" style="height:150px"></textarea>
                        <span asp-validation-for="Description" class="text-danger" id="editor01"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    @* 促銷 *@
                    <div class="form-group">
                        <label asp-for="Promotion" class="control-label"></label>
                        <textarea asp-for="Promotion" class="form-control" style="height:150px"></textarea>
                        <span asp-validation-for="Promotion" class="text-danger" id="editor01"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @* 款式 *@
            <div class="form-group">
                <label>款式</label>
                <table id="prodectStyleTable">
                    <tr>
                        <th>款式名稱</th>
                        <th>價錢</th>
                        <th>庫存</th>
                        <th>功能按鈕</th>
                    </tr>
                    @for (int idx = 0; idx < Model.ProductStyles.Count; idx++)
                    {
                        <tr>
                            @Html.Hidden($"ProductStyles[{idx}].Id", Model.ProductStyles[idx].Id)
                            <td>
                                <input type="text" name="ProductStyles[@idx].Name" value="@Model.ProductStyles[idx].Name" />
                            </td>
                            <td>
                                <input type="number" name="ProductStyles[@idx].Price" value="@Model.ProductStyles[idx].Price" />
                            </td>
                            <td>
                                <input type="number" name="ProductStyles[@idx].Stock" value="@Model.ProductStyles[idx].Stock" />
                            </td>
                            <td><button type="button" onclick="deleteRow(this)">刪除</button></td>
                        </tr>
                    }
                </table>
                <button type="button" onclick="addRow()">增加款式</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            @* 內容 *@
            <div class="form-group">
                <label asp-for="Content" class="control-label"></label>
                <textarea asp-for="Content" class="form-control" id="editor"></textarea>
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>

</form>

<div class="row">
    @* 圖片 *@
    <div class="col-lg-3 col-md-4 col-sm-6">
        <div id="picBlock" class="item text-center">
            @if (Model.ProductImage != null && Model.ProductImage.Any())
            {
                foreach (ProductImage image in Model.ProductImage)
                {
                    <div class="product-image">
                        <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid }) height="142" alt="ring">
                        <i class="fas fa-times-circle" onclick="deletePicture(this, '@image.Guid')"></i>
                    </div>
                }
            }
        </div>
    </div>

    @using (Html.BeginForm("UploadDetail", "Picture", FormMethod.Post, new { id = "picForm", enctype = "multipart/form-data" }))
    {
        <div class="card-footer">
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.ProductId)
            <input type="file" style="display: none;" id="files" name="files" accept="image/*" onchange="imgFormSubmit();" multiple />
            <input type="button" value="Upload..." class="btn btn-primary" onclick="document.getElementById('files').click();" />
        </div>
    }
</div>

<div>
    <a asp-asp-controller="ProductManagement" asp-action="Index" class="btn btn-default">返回上一頁</a>
</div>

@section Scripts {
    @{
        // 前端驗證
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        /**
         * 加入 CKEditor 使用
         */
        ClassicEditor
            .create(document.querySelector('#editor'), {
                removePlugins: ['ImageResize', 'ImageStyle', 'ImageToolbar'],
                ckfinder: {
                    uploadUrl: '/Picture/UploadContent?productId=' + @Model.ProductId
                }
            })
            .catch(error => {
                console.error(error);
            });

        /**
          * 增加 款式 選項
         */
        function addRow() {
            var table = document.getElementById("prodectStyleTable");
            var row = table.insertRow(-1);
            var cell0 = row.insertCell(0);
            var cell1 = row.insertCell(1);
            var cell2 = row.insertCell(2);
            var cell3 = row.insertCell(3);
            cell0.innerHTML = '<input type="text" name="ProductStyles[' + (table.rows.length - 2) + '].Name" />';
            cell1.innerHTML = '<input type="number" name="ProductStyles[' + (table.rows.length - 2) + '].Price" />';
            cell2.innerHTML = '<input type="number" name="ProductStyles[' + (table.rows.length - 2) + '].Stock" />';
            cell3.innerHTML = '<button type="button" onclick="deleteRow(this)">刪除</button>';
        }

        /**
          * 刪除 款式 選項
         */
        function deleteRow(btn) {
            var row = btn.parentNode.parentNode;
            row.parentNode.removeChild(row);
        }

        function imgFormSubmit() {
            let form = $('#picForm')[0];
            let formData = new FormData(form);
            $.ajax({
                url: form.action,
                type: form.method,
                data: formData,
                contentType: false,
                processData: false,
                data: formData,
                success: function (response) {
                    let responseData = response.data;
                    let fileLength = formData.getAll('files').length;

                    for (let i = 0; i < fileLength; i++) {
                        let file = formData.getAll('files')[i];
                        let fileName = file.name;
                        let responseGuid;
                        if (!responseData[fileName]) {
                            continue;
                        }
                        else {
                            responseGuid = responseData[fileName];
                        }

                        let productImage = document.createElement('div');
                        productImage.className = 'product-image';

                        let blob = new Blob([file], { type: file.type });
                        let imgUrl = URL.createObjectURL(blob);

                        let img = document.createElement('img');
                        img.src = imgUrl;
                        img.height = 142;
                        img.alt = 'ring';
                        productImage.appendChild(img);

                        let divI = $(`<i class='fas fa-times-circle' onclick='deletePicture(this, "${responseGuid}")'></i>`)
                        productImage.appendChild(divI[0]);

                        document.getElementById('picBlock').appendChild(productImage);

                    }
                }
            });
        }

        function deletePicture(e, guid) {
            $.ajax({
                url: '@Url.Action("Delete", "Picture")',
                type: "POST",
                data: { Guid: guid },
                success: function (response) {
                    // 將自身欄位 從畫面上移除
                    let $fileCol = $(e).parent('div');
                    $fileCol.remove();
                }
            });
        }
    </script>
}