@model OnlineShop.Core.ViewModel.OrderViewModel

@{
    ViewData["Title"] = "Details";
}

<div>　</div>
<h3>訂單詳細資訊</h3>
<hr />

<p></p>
<div class="card shadow-sm rounded">
    <div class="card-body">

        <h5>訂單編號：@Html.DisplayFor(m => m.Order.Id)</h5>
        @if (!string.IsNullOrWhiteSpace(Model.Order.UserName))
        {
            <div class="row">
                訂購帳號: <div class="col"><p class="text-muted">@Html.DisplayFor(m => m.Order.UserName)</p></div>
            </div>
        }        
        <div class="row">
            訂購時間: <div class="col"><p class="text-muted">@Html.DisplayFor(m => m.Order.OrderDate)</p></div>
        </div>

        <div>
            <table class="table">
                <thead>
                    <tr>
                        <th>商品名稱</th>
                        <th>數量</th>
                        <th>小計</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.CartItems)
                    {
                        <tr>
                            <td>@item.Product.Name (@item.ProductStyle.Name) </td>
                            <td>@item.Amount</td>
                            <td>@item.SubTotal</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="text-right pr-5">
                <p style="padding-right:12px">總計： $@Html.DisplayFor(m => m.Order.Total)</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-7">
                <p>收貨人姓名：@Html.DisplayFor(m => m.Order.ReceiverName)</p>
                <p>收貨人電話：@Html.DisplayFor(m => m.Order.ReceiverPhone)</p>
                <p>收貨人地址：@Html.DisplayFor(m => m.Order.ReceiverFirstAddress) @Html.DisplayFor(m => m.Order.ReceiverSecondAddress)</p>
                <p>送貨地點：@Html.DisplayFor(m => m.DeliveryAddressName)</p>
                <p>送貨方式：@Html.DisplayFor(m => m.DeliveryMethodName)</p>
            </div>
            @* <div class="col-5">
                <p>
                    訂單狀態：
                    @if (Model.Order.isPaid)
                    {
                        <span>已付款</span>
                    }
                    else
                    {
                        <span>未付款</span>
                    }
                </p>
            </div> *@
        </div>

    </div>
</div>
<p></p>
<div>
    <a class="btn btn-sm btn-outline-secondary" asp-controller="Products" asp-action="Index">返回線上商城</a>
</div>