@model IEnumerable<OnlineShopUserViewModel>

@{
    ViewData["Title"] = "帳戶列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table class="table table-mobile-responsive table-mobile-sided">
    <thead>
        <tr>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Id)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.User.RegistrationDate)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.RoleName)
            </th>
            <th scope="col" class="col-2"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td scope="row" data-content="@Html.DisplayNameFor(model => model.User.Id)">
                    @Html.DisplayFor(modelItem => item.User.Id)
                </td>
                <td data-content="@Html.DisplayNameFor(model => model.User.Email)">
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td data-content="@Html.DisplayNameFor(model => model.User.Name)">
                    @Html.DisplayFor(modelItem => item.User.Name)
                </td>
                <td data-content="@Html.DisplayNameFor(model => model.User.RegistrationDate)">
                    @Html.DisplayFor(modelItem => item.RegistrationDate)
                </td>
                <td data-content="@Html.DisplayNameFor(model => model.RoleName)">
                    @Html.DisplayFor(modelItem => item.RoleName)
                </td>
                <td class="ps-0">
                    <div class="row d-flex justify-content-between justify-content-md-end w-100 gap-2">
                        <a class="btn btn-sm btn-info col-5 col-md-12 col-lg-5" asp-action="EditUser" asp-route-id="@item.User.Id">編輯</a>
                        <a class="btn btn-sm btn-danger col-5 col-md-12 col-lg-5" asp-action="DeleteUser" asp-route-id="@item.User.Id">刪除</a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
