@model ProductDetailViewModel

@{
    ViewData["Title"] = "商品詳細頁面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .carousel-indicators {
        width: 130px;
        max-height: 60vh;
        position: unset;
        flex-direction: column;
        overflow: hidden auto;
        z-index: 1;
        margin: 0;
    }

    .carousel-indicators [data-bs-target] {
        border: 0;
        width: 80px;
        height: 80px;
        text-indent: 0;
        overflow: hidden;
        position: relative;
        opacity: 1;
    }

    .selected-img {
        height: 60vh;
        overflow: hidden;
        position: relative;
    }

    .carousel-indicators [data-bs-target] img, .selected-img img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<form id="DetailForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />

    <div class="row mb-3">
        <div class="col-xl-6 col-lg-7 col-md-8 col-sm-12">
            @if (Model.ProductImage != null && Model.ProductImage.Any())
            {
                <div id="product-carousel" class="carousel carousel-dark slide d-flex mb-4" data-bs-touch="false" data-bs-interval="false">
                    <!-- carousel indicators hidden on xs and sm -->
                    <div class="carousel-indicators d-none d-md-block">
                        @for (int i = 0; i < Model.ProductImage.Count; i++)
                        {
                            var image = Model.ProductImage[i];
                            <button type="button" class="img-selector mb-1" data-bs-target="#product-carousel" data-bs-slide-to="@i">
                                <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid, tag = "S" })>
                            </button>
                        }
                    </div>
                    <div class="carousel-inner shadow-sm">
                        @foreach (var image in Model.ProductImage)
                        {
                            <div class="carousel-item selected-img">
                                <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid, tag = "M" })>
                            </div>
                        }
                    </div>
                    <!-- carousel control display on xs, sm and md -->
                    <button type="button" class="carousel-control-prev d-block d-md-none" data-bs-target="#product-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button type="button" class="carousel-control-next d-block d-md-none" data-bs-target="#product-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            }
        </div>
        <div class="col-xl-6 col-lg-5 col-md-4 col-sm-12">
            <!-- 名稱 -->
            <h2 class="fw-bold">@Html.DisplayFor(m => m.Name)</h2>
            <!-- 簡介 -->
            <div class="overflow-auto" style="max-height: 20vh;">
                <pre>@Html.DisplayFor(m => m.Description)</pre>
            </div>
            <!-- 製造方式 -->
            <pre>製造方式: @Model.ManufacturingMethod.GetDescription()</pre>
            <p>
                當前狀態：
                @if (Model.ManufacturingTime == ManufacturingTime.InStock)
                {
                    <span>@Model.ManufacturingTime.GetDescription()</span>
                }
                else if (Model.ManufacturingTime == ManufacturingTime.Custom)
                {
                    <span>接單訂製，付款後須等待 @Model.ManufacturingCustomDate 個工作天</span>
                }
            </p>
            <hr />
            <!-- 促銷 -->
            <div class="overflow-auto" style="max-height: 20vh;">
                <pre>@Html.DisplayFor(m => m.Promotion)</pre>
            </div>
            <!-- 金額 -->
            <h5 id="price" class="text-black fw-bold"></h5>
            <!-- 款式 -->
            <div id="styleArea">
                <p class="alert-light m-0 mt-2">款式</p>
                <select id="productStyles" class="form-select">
                    @foreach (var item in Model.ProductStylesList)
                    {
                        <option value="@item.Id" data-price="@item.Price" data-stock="@item.Stock">@item.Name</option>
                    }
                </select>
            </div>
            <!-- 數量 -->
            <div class="form-group mt-2">
                <label class="control-label alert-light">數量</label>
                <input type="number" id="Amount" class="form-control" value="0" min="0" />
            </div>
            <!-- 回上一頁 -->
            @if (Model.fromWhere == "Products") // 產品來的
            {
                <div class="form-group mt-4">
                    <input id="AddCartBtn" type="submit" value="加入購物車" class="btn btn-outline-primary w-100" />
                </div>
            }
            else // 詳細頁面預覽
            {
                <fieldset disabled>
                    <div class="form-group mt-4">
                        <input type="submit" value="加入購物車" class="btn btn-outline-primary w-100" readonly />
                    </div>
                </fieldset>
            }
            <div class="form-group mt-3">
                <a asp-controller="@Model.fromWhere" asp-action="Index" class="btn btn-outline-secondary w-100">返回上一頁</a>
            </div>
        </div>
    </div>
    <div class="container text-center">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a id="content-tab" class="nav-link active" aria-current="page" data-bs-toggle="tab" data-bs-target="#content-area"
                   type="button" role="tab" aria-controls="#content-area" aria-selected="true" href="#">@Html.DisplayNameFor(m => m.Content)</a>
            </li>
            <li class="nav-item">
                <a id="delivery-tab" class="nav-link" aria-current="page" data-bs-toggle="tab" data-bs-target="#delivery-area"
                   type="button" role="tab" aria-controls="#delivery-area" aria-selected="false" href="#">送貨及付款方式</a>
            </li>
        </ul>
        <div class="tab-content pt-3">
            <div id="content-area" class="tab-pane fade show active" aria-labelledby="content-tab">
                @Html.Raw(Model.Content)
            </div>
            <div id="delivery-area" class="tab-pane fade" aria-labelledby="delivery-tab">
                <table class="table table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">送貨方式</th>
                            <th scope="col">付款方式</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>臺灣-中華郵政</td>
                            <td>轉帳/匯款/無摺</td>
                        </tr>
                        <tr>
                            <td>臺灣-7-11(取貨不付款)</td>
                            <td>LinePay</td>
                        </tr>
                        <tr>
                            <td>臺灣-全家(取貨不付款)</td>
                            <td>綠界科技-線上信用卡繳款</td>
                        </tr>
                        <tr>
                            <td>中國-順豐速運(貨到付款)</td>
                            <td></td>
                        </tr>
                        <tr>
                            <td>香港-順豐速運(貨到付款)</td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        // 前端驗證
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        function ShowMessage() {
            toastr["success"]("商品已加入購物車！");
        }

        $(document).ready(function () {
            // 綁定 款式異動事件
            $('#productStyles').change(function () {
                let price = $('option:selected', this).attr('data-price');
                $('#price').text("NT$" + price);

                let stock = $('option:selected', this).attr('data-stock');
                $('#stock').text(stock); // 這欄位怎麼好像不見了

                // 判斷當前款式庫存數量，判斷數量邏輯 addBtn
                if (stock == "0") {
                    // 數量inptu 改為以獨
                    $("#Amount").prop("max", "0");
                    $("#Amount").val("0");
                    $("#Amount").attr("readonly", true);
                    $("#Amount").prop("disabled", true);
                    // addBtn 改為售完
                    $("#AddCartBtn").val("售完");
                    $("#AddCartBtn").attr("readonly", true);
                    $("#AddCartBtn").prop("disabled", true);
                    
                } else {
                    $("#Amount").prop("max", stock);
                    $("#Amount").val("0");
                    $("#Amount").attr("readonly", false);
                    $("#Amount").prop("disabled", false);

                    $("#AddCartBtn").val("加入購物車");
                    $("#AddCartBtn").attr("readonly", false);
                    $("#AddCartBtn").prop("disabled", false);
                }

            }).change();

            // 加入購物車 form submit事件
            $('#DetailForm').on('submit', function (e) {
                e.preventDefault();

                let productId = '@Model.ProductId';
                let productStyleId = $("#productStyles").val();
                let amount = Number($("#Amount").val());
                let styleMax = Number($("#Amount").prop("max"));

                // 前端數量驗證
                if (amount <= styleMax) {
                    let param = {
                        ProductId: productId,
                        ProductStyleId: productStyleId,
                        Amount: amount
                    };

                    $("#AddCartBtn").prop('disabled', true);
                    $.ajax({
                        type: 'POST',
                        url: '/Cart/AddtoCart',
                        data: param,
                        success: function (data) {
                            if (data?.success == false) {
                                alert(data.message);
                            }
                            else {
                                // 彈出 加入購物車 訊息
                                ShowMessage();
                            }
                        },
                        error: function (xhr, status, error) {
                            // 如果沒有登入，則導至登入頁面
                            if (xhr.status == 401) {
                                var loginUrl = "/Identity/Account/Login";
                                var returnUrl = window.location.pathname + window.location.search; // 獲取當前的相對路徑和查詢參數
                                window.location.href = loginUrl + "?ReturnUrl=" + encodeURIComponent(returnUrl);
                            }
                        }
                    }).done(function () {
                        $("#AddCartBtn").prop('disabled', false);
                    });
                }
                else {
                    alert("選取數量超過上限");
                }
            });

            // 如果款式數量 = 1(只有基本款)，則隱藏款式下拉選單
            if ('@Model.ProductStylesList.Count' <= 1) {
                $("#styleArea").hide();
            }

            // 初始化 carousel & indicators
            $(".carousel-indicators .img-selector")?.first().addClass("active");
            $(".carousel-item")?.first().addClass("active");
        });
    </script>
}