@model IEnumerable<DetailViewModel>

@{
    ViewData["Title"] = "商品頁面";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card-img-container {
        height: 16rem;
        overflow: hidden;
        position: relative;
    }

    .card-img-btn-area {
        position: absolute;
        width: 100%;
        height: 25%;
        bottom: 0;
        z-index: 1;
        opacity: 0;
        transform: translate(0px, 25%);
        -webkit-transform: translate(0px, 25%);
        -moz-transform: translate(0px, 25%);
        -o-transform: translate(0px, 25%);
        -ms-transform: translate(0px, 25%);
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

    .card-img-container img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        -webkit-transition: all 2s ease;
        -moz-transition: all 2s ease;
        -o-transition: all 2s ease;
        transition: all 2s ease;
    }

    .card-img-container:hover .card-img-btn-area {
        transform: translate(0px, 0);
        -webkit-transform: translate(0px, 0);
        -moz-transform: translate(0px, 0);
        -o-transform: translate(0px, 0);
        -ms-transform: translate(0px, 0);
        opacity: 1;
    }

    .card-img-container:hover img {
        opacity: 0.1;
        transform: scale(1.5);
    }
</style>

<!-- Carousel -->
@await Component.InvokeAsync("Carousel")

<!-- 學兔子的空格 -->
<div class="py-4"></div>
<div class="py-4"></div>
<div class="py-4"></div>

<!-- 標題 -->
<h4 class="text-center fw-bold">最新上架</h4>

<!-- 商品頁面 -->
<div class="row pt-5">
    @foreach (var item in Model)
    {
        <div class="col-xl-3 col-lg-4 col-md-6 d-flex justify-content-center">
            <div class="card border-0" style="width: 16rem">
                <div class="card-img-container bg-light shadow-sm">
                    @* modal事件未來製作，目前都先跳轉到大頁面 *@
                    @if (item.Image != null)
                    {
                        @* <img src=@Url.Action("Download", "Picture", new { ProductId = item.ProductId, Guid = item.Image.Guid })
                class="card-img-top" title="@item.ProductName" data-bs-toggle="modal" data-bs-target="#subDetailsModal" data-bs-pId="@item.ProductId"> *@
                        <a href="@Url.Action("Details", new { Id = item.ProductId, fromWhere = "Products" })">
                            <img src=@Url.Action("Download", "Picture", new { ProductId = item.ProductId, Guid = item.Image.Guid, tag = "M" })
                                 alt="..." class="card-img-top" title="@item.ProductName" />
                        </a>
                    }
                    else
                    {
                        @* <img src="" alt="..." class="card-img-top" title="@item.ProductName"
                data-bs-toggle="modal" data-bs-target="#subDetailsModal" data-bs-pId="@item.ProductId"> *@
                        <a href="@Url.Action("Details", new { Id = item.ProductId, fromWhere = "Products" })">
                            <img alt="..." class="card-img-top" title="@item.ProductName" />
                        </a>
                    }
                    <div class="card-img-btn-area text-center">
                        @if (item.Stock >= 1)
                        {
                            <a class="btn btn-outline-secondary w-75" href="@Url.Action("Details", new { Id = item.ProductId, fromWhere = "Products" })">購買</a>
                        }
                        else if (item.Status == ProductStatus.Sold)
                        {
                            <div class="text-muted">已售完</div>
                        }
                        else
                        {
                            <div class="text-muted">缺貨中</div>
                        }
                    </div>
                </div>
                <div class="card-body">
                    <h6 class="card-title text-center">@Html.DisplayFor(modelItem => item.ProductName)</h6>
                    @if (item.MinPrice == item.MaxPrice)
                    {
                        <h6 class="card-text text-center fw-bold">
                            NT$@item.MinPrice
                        </h6>
                    }
                    else
                    {
                        <h6 class="card-text text-center fw-bold">
                            NT$@item.MinPrice ~ NT$@item.MaxPrice
                        </h6>
                    }
                </div>
            </div>
        </div>
    }
</div>

<!-- 商品小視窗 -->
<div class="modal fade" id="subDetailsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content container-fluid">
            <!-- 模態視窗的內容將由 Controller 提供 -->
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let subDetailsModal = document.getElementById('subDetailsModal');
        subDetailsModal.addEventListener('show.bs.modal', function (event) {
            // Button that triggered the modal
            let related = event.relatedTarget;
            // Extract info from data-bs-* attributes
            let pId = related.getAttribute('data-bs-pId');
            // Load Content
            $("#subDetailsModal .modal-content").load(`/Products/SubDetails/${pId}`);
        })
    </script>
}
