@model OnlineShop.Models.ProductDetailViewModel

<form id="DetailForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />

    @if (Model.ProductImage != null && Model.ProductImage.Any())
    {
        foreach (ProductImage image in Model.ProductImage)
        {
            <div class="product-image">
                <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid }) height="142" alt="ring">
                <i class="fas fa-times-circle" onclick="deletePicture(this, '@image.Guid')"></i>
            </div>
        }
    }

    <div class="row">
        <div class="col-8">
            <div class="row">
                <div class="col-8">
                    @* 商品名稱 *@
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" readonly class="form-control" />
                    </div>
                </div>
                <div class="col-4">
                    @* 類別 *@
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        <input asp-for="CategoryName" readonly class="form-control" />
                    </div>
                </div>
            </div>
            @* 促銷 *@
            <div class="row">
                <div class="col">
                    <p class="alert-light m-0">@Html.DisplayNameFor(m => m.Promotion)</p>
                    <pre>@Html.DisplayFor(m => m.Promotion)</pre>
                </div>
            </div>
            @* 價錢 *@
            <div class="row">
                <div class="col">
                    <p>價錢:</p>
                    <h6 id="price"></h6>
                </div>
            </div>

            @* 款式 *@
            <div class="row">
                <div class="col">
                    <p class="alert-light m-0">款式</p>
                    <select id="productStyles">
                        @foreach (var item in Model.ProductStylesList)
                        {
                            <option value="@item.Id" data-price="@item.Price" data-stock="@item.Stock">@item.Name</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>庫存:</p>
                <h6 id="stock"></h6>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-group">
                    <label class="control-label">購買數量:</label>
                    <input type="number" id="Amount" class="form-control" value="0" />
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="form-group">
                <input type="submit" value="加入購物車" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>


<script>
    function ShowMessage() {
        toastr["success"]("商品已加入購物車！");
    }

    $(document).ready(function () {
        // 綁定 款式異動事件
        $('#productStyles').change(function () {
            let price = $('option:selected', this).attr('data-price');
            $('#price').text(price);

            let stock = $('option:selected', this).attr('data-stock');
            $('#stock').text(stock);
        }).change();

        $('#DetailForm').on('submit', function (e) {
            e.preventDefault();

            let productId = '@Model.ProductId';
            let productStyleId = $("#productStyles").val();
            let amount = $("#Amount").val();

            let param = {
                ProductId: productId,
                ProductStyleId: productStyleId,
                Amount: amount
            };

            $.ajax({
                type: 'POST',
                url: '/Cart/AddtoCart',
                data: param,
                success: function (data) {
                    // 彈出 加入購物車 訊息
                    ShowMessage();
                }
            });
        });
    });
</script>