@model ProductDetailViewModel

<style>
    .sub-detail-img-container {
        height: 20rem;
        overflow: hidden;
        position: relative;
    }

    .sub-detail-img-container img {
        object-fit: cover;
        object-position: center center;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
</style>

<form id="SubDetailForm">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ProductId" />
    <div class="row p-3">
        <div class="col-lg-6 col-sm-12 sub-detail-img-container">
            @if (Model.ProductImage != null && Model.ProductImage.Any())
            {
                var image = Model.ProductImage[0];
                <img src=@Url.Action("Download", "Picture", new { ProductId = image.ProductId, Guid = image.Guid, tag = "M" }) alt="ring">
            }
        </div>
        <div class="col-lg-6 col-sm-12">
            <h5 class="fw-bold">@Html.DisplayFor(m => m.Name)</h5>
            <pre>@Html.DisplayFor(m => m.Promotion)</pre>
            <h5 id="price" class="text-black fw-bold"></h5>
            @* 款式 *@
            <p class="alert-light m-0 mt-2">款式</p>
            <select id="productStyles" class="form-select">
                @foreach (var item in Model.ProductStylesList)
                {
                    <option value="@item.Id" data-price="@item.Price" data-stock="@item.Stock">@item.Name</option>
                }
            </select>
            <div class="mb-1 mt-2">
                <label class="control-label alert-light">數量</label>
                <input type="number" id="Amount" class="form-control" value="0" />
            </div>
            <div class="mb-1 mt-4">
                <input type="submit" value="加入購物車" class="btn btn-outline-primary w-100" />
            </div>
        </div>
    </div>
</form>


<script>
    function ShowMessage() {
        toastr["success"]("商品已加入購物車！");
    }

    $(document).ready(function () {
        // 綁定 款式異動事件
        $('#productStyles').change(function () {
            let price = $('option:selected', this).attr('data-price');
            $('#price').text(price);

            let stock = $('option:selected', this).attr('data-stock');
            $('#stock').text(stock);
        }).change();

        $('#SubDetailForm').on('submit', function (e) {
            e.preventDefault();

            let productId = '@Model.ProductId';
            let productStyleId = $("#productStyles").val();
            let amount = $("#Amount").val();

            let param = {
                ProductId: productId,
                ProductStyleId: productStyleId,
                Amount: amount
            };

            $.ajax({
                type: 'POST',
                url: '/Cart/AddtoCart',
                data: param,
                success: function (data) {
                    // 彈出 加入購物車 訊息
                    ShowMessage();
                }
            });
        });
    });
</script>